/*
  ================= CONTAINER =================
*/
.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and(max-width: $breakpoint-xl) {
  .container {
    width: 95% !important;
  }
}

/*
  ================= FLEX BOX =================
*/

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}

/*
  ================= POSITIONS =================
*/

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
