// App Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$custom-breakpoint: 1024px;
$breakpoint-xl: 1200px;

// App colors
$green: #83b735;
$liteDark: rgb(51, 51, 51);
$dark: #2d2a2a;
$boldGreen: #438e44;
$red: #e22d2d;
$link: #333;
